<!doctype html>
<html>
  <head>
    <title>TCPOPT: Times Car Plus OPTimization</title>
  </head>
  <body>
    <h1>TCPOPT: Times Car Plus OPTimization</h1>
    <form method="post" action="/result">
      from:
      <input type="datetime-local" value="2018-08-26T19:30" name="start" /><br />
      to:
      <input type="datetime-local" value="2018-08-27T08:00" name="end" /><br />
      distance:
      <input type="number" value="200" min="0" max="500" step="1" name="distance" />km<br />
      <button>Calculate</button>
    </form>
  </body>
</html>
